* {padding: 0;
margin: 0;
}
    #logo{font-size: 28px;
color: rgb(26, 25, 25);
text-decoration: none;
}
h1{font-size: 33.445px;
}
p{font-size: 16px;
}
#navlist {list-style: none;
    display: flex;
    direction: row;
    gap:24px;
}
.navigationlink
 {color: rgb(94, 90, 90);
    text-decoration: none;
}
header {
    height: 60px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    border-bottom: 1px solid rgb(146, 143, 143)

}
h1{margin-bottom: 24px;
}
img{width: 50%;
}
#section1{display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;

}
#section1links
{margin-top: 35px;
}
.primarylink{display:inline block;
    background-color: black;
color: white;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right:16px;
text-decoration: none;
border-radius: 4px;
}